In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans


data = pd.read_csv('Comp1801CourseworkData.csv')

print(data.head())

a = data['Age']
x = data['Salary'] # 1t for rows and second for columns

test = list(zip(a, x))

kmeans = KMeans(2)
print(dir(kmeans))
kmeans.fit(test)

identified_clusters = kmeans.fit_predict(test)
print(identified_clusters)

data_with_clusters = data.copy()
data_with_clusters['Clusters'] = identified_clusters 
plt.scatter(data_with_clusters['Salary'],data_with_clusters['Age'],c=data_with_clusters['Clusters'],cmap='rainbow')

   Age  SiteSpending  SiteTime  RecommendImpression Education        WorkType  \
0   32        314.06     30.14                    0    Degree  Private sector
1   20       3758.36    149.36                    4      GCSE  Private sector
2   36        601.72     21.87                    0   Masters  Private sector
3   21         44.89    182.80                    9   Masters  Private sector
4   24        614.80    194.34                    0      GCSE  Private sector

      Sex            Region    Salary
0    Male            London  60173.49
1  Female        South East  42965.45
2    Male   East of England  54924.41
3  Female  Northern Ireland  26734.99
4    Male          Scotland  15325.23

TypeError: KMeans.__init__() got an unexpected keyword argument 'set_params'